.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    background-color: var(--todo-bg-color);
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
}

.titleInputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding-bottom: 20px;
}

.titleInputText {
    width: 600px;
    font-size: 20px;
    font-weight: normal;
    opacity: 50%;
}

.titleInput {
    background-color: var(--main-bg-color);
    color: var(--form-text-color);
    padding: 15px 10px 15px 20px;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 25px;
    width: 500px;
    font-weight:  bold;
    opacity: 100%;
}
.subsInputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    font-size: 20px;
    padding-bottom: 40px;
}

.subsInputText {
    width: 600px;
    font-size: 20px;
    font-weight: normal;
    opacity: 50%;
}

.subsInput {
    margin-top: 10px;
    resize: none;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--form-text-color);
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 15px 10px 15px 20px;
}

.saveButtonContainer {
    display: flex;
    justify-content: left;
}

.saveButton {
    display: flex;
    background-color: rgba(116, 155, 255, 0.9);
    color: white;
margin-right: 30px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition:  background-color 0.3s linear;
}

.saveButtonText {
    margin-left: 10px;
    font-size: 15px;
}

.saveButton:hover {
    background-color: rgba(108, 111, 255, 0.9);
}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

