.Links {
    margin-top: -10px;
}


.activeContainer .active, .doneContainer .done, .archiveContainer .archive, .allContainer .all {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding-top: 25px;
    text-align: center;
    height: 80%;
    width: 100%;
    outline: none;
}

.activeContainer, .doneContainer, .archiveContainer, .allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 97, 255, 0.9);
    margin: 20px auto 0;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    transition: background-color 0.1s linear;
}

.activeContainer:hover, .doneContainer:hover, .archiveContainer:hover, .allContainer:hover {
    background-color: rgba(114, 116, 254, 0.9);
}