.container {
    display: inline-block;
    vertical-align: middle;
}

.active, .done, .archive, .all {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    width: 200px;
}

.activeContainer, .doneContainer, .archiveContainer, .allContainer {
    text-align: center;
    background-color: rgba(94, 97, 255, 0.9);
    padding: 15px;
    margin: 20px auto 0;
    border-radius: 15px;
    width: 200px;
}

.activeContainer:hover, .doneContainer:hover, .archiveContainer:hover, .allContainer:hover {
    text-align: center;
    background-color: rgba(108, 111, 255, 0.9);
    padding: 15px;
    margin: 20px auto 0;
    border-radius: 15px;
    width: 200px;
}