.oneTodoContainer{
    margin: 30px auto 0;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 8px #cecece;
}

.titleOneTodo{
    font-size: 20px;
    font-weight: bold;
}

.subsOneTodo{
    margin: 15px auto 1px;
    width: 300px;
    padding: 10px;
    background-color: #FFFFFF;
    position: relative;
}

.editButtonOneTodo {
    margin: 10px auto 0;
    font-size: 12px;
    color: #ffffff !important;
    padding: 10px 20px;
    box-shadow: 0px 0px 8px #cecece;
    border-radius: 5px;
    border: 0px ridge #f3c846;
    background: #476cf5;
}
.editButtonOneTodo:hover {
    color: #ffffff !important;
    background: #5b7af5;
}
.deleteButtonOneTodo {
    margin: 10px auto 0 10px;
    font-size: 12px;
    color: #ffffff !important;
    padding: 10px 20px;
    box-shadow: 0px 0px 8px #cecece;
    border-radius: 5px;
    border: 0px ridge #f3c846;
    background: #476cf5;
}
.deleteButtonOneTodo:hover {
    color: #ffffff !important;
    background: #5b7af5;
}
