.container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.input {
    background-color: var(--form-bg-color);
    color: var(--form-text-color);
    border-radius: 12px;
    margin: 30px 0 20px 0 ;
    height: 50px;
    width: 600px;
    text-align: center;
    flex-wrap: wrap;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todosContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-content: space-between;
    margin: 0 auto 15px;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}