.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*background-color: #b3d4fc;*/
    background-color: var(--todo-bg-color);
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
}

.briefContainer {
    width: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.briefCheckBox {
    padding-right: 40px;
}
.briefTitle {
    font-size: 23px;
    font-weight: bold;
}

.briefInput, .inputButton{
    width: 17px;
    height: 17px;
    border: 0.1mm solid black;
}

.checkbox {
    width: 600px;
    margin-bottom: 20px;
}

.titleContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding-bottom: 20px;
}

.titleName {
    width: 600px;
    font-size: 20px;
    font-weight: normal;
    opacity: 50%;
}

.title {
    padding-top: 5px;
    font-size: 30px;
    font-weight:  bold;
    opacity: 100%;
}

.subsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    font-size: 20px;
    padding-bottom: 40px;
}

.subsName {
    width: 600px;
    font-size: 20px;
    font-weight: normal;
    opacity: 50%;
}

.subs {
    padding-top: 5px;
    font-size: 20px;
    font-weight:  normal;
    opacity: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.showAndHideButton {

    background-color: rgba(116, 155, 255, 0.9);
    color: white;
    margin: 0 30px 0 auto;
    margin-top: 10px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    /*width: 80px;*/
    border-radius: 10px;
    transition:  background-color 0.3s linear;
}

.showAndHideButton:hover {
    background-color: rgba(136, 138, 255, 0.9);
}


.editButton, .deleteButton, .archiveButton{
    display: flex;
    background-color: rgba(116, 155, 255, 0.9);
    color: white;
    margin: 0 30px 0 auto;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    /*width: 80px;*/
    border-radius: 10px;
    transition:  background-color 0.3s linear;
}

.buttonText{
    margin-left: 10px;
    font-size: 15px;
}

.editButton:hover, .deleteButton:hover, .archiveButton:hover {
    background-color: rgba(136, 138, 255, 0.9);
}


.checkButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    margin-right: 20px;
}