.title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.linkContainer {
  padding-top: 10px;
}
.discription{
  padding-bottom: 30px;
}

.link {
  margin: 12px auto 0;
  font-size: 15px;
  color: #ffffff !important;
  padding: 10px 20px;
  box-shadow: 0px 0px 8px #cecece;
  border-radius: 5px;
  border: 0px ridge #f3c846;
  background: #476cf5;
  text-decoration: none;
}
.link:hover {
  color: #ffffff !important;
  background: #5b7af5;
}
