.containerCreateTodo{
    margin: 30px auto 0;
    padding: 20px;
}

.titleCreateTodo{
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 30px;
}

.inputCreateTodo{
    width: 345px;
    height: 40px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border: 1px solid #c4c4c4;
}

.buttonCreateTodo {
    color: #ffffff !important;
    height: 40px;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: 0px ridge #f3c846;
    background: #476cf5;
}
.buttonCreateTodo:hover {
    color: #000000 !important;
    background: #efefef;
}

.inputAndButtonBox{
    width: 400px;
    margin: 10px auto 0;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #cecece;
}