/*.container {*/
/*    display: block;*/
/*    height: 60px;*/
/*}*/

/*.formContainer {*/
/*    margin: 20px;*/
/*}*/

.form {
    height: 40px;
    width: 400px;
    color: var(--form-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.button {
    height: 40px;
    width: 40px;
    background-color: rgba(94, 97, 255, 0.9);
    border-radius: 0 5px 5px 0;
    color: white;
    transition: background-color 0.1s linear;
}

.button:hover {
    background-color: rgba(108, 111, 255, 0.9);
}
