.container {
    opacity: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*background-color: #b3d4fc;*/
    width: 800px;
    background-color: var(--todo-bg-color);
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
}

.titleContainer {
    width: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.input {
    width: 17px;
    height: 17px;
    border: 0.1mm solid black;
}

.title {
    font-size: 23px;
    font-weight: bold;
}

.checkbox {
    padding-right: 40px;
}

.subsContainer {
    margin: 10px;
    font-size: 15px;
    padding-bottom: 5px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton, .archiveButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    margin-right: 20px;
}
