.App {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.Header {
    background-color: var(--todo-bg-color);
}

.container {
    margin: 0 100px;
}

.HeaderLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ThemeToggler {
    display: flex;
    align-items: self-end;
    padding: 14px 0px;
    margin-bottom: 18px;
}

.LiveSearch {
}

.ThemeSwitcher {
    margin-right: 15px;
}

.CreateTodo {
    margin: 0 auto;
    padding-left: 100px;
}

.MainContainer {
    display: flex;
    justify-content: center;
}

.Links {
    margin-top: 20px;
    position: fixed;
    padding-top: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: var(--todo-bg-color);
    border-radius: 20px;
    margin-left: -80vw;
}

.TodosContainer {
    /*flex-wrap: wrap;*/
    /*!*width: 60%;*!*/
    /*margin: 0 auto;*/
}
.line {
    background-color: var(--todo-bg-color);
    width: 100vw;
    height: 1px;
    margin-bottom: 20px;
}

.Links {
}
/*.LinksContainer {*/
/*    position: fixed;*/
/*    text-align: left;*/
/*    margin-left: 1%;*/
/*    margin-top: 20px;*/
/*    border-radius: 20px;*/
/*    height: 310px;*/
/*    width: 320px;*/
/*    background-color: var(--todo-bg-color);*/
/*    !*background-color: #cc8180;*!*/
/*}*/

/*.Links:before {*/
/*    content: '';*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*    vertical-align: middle;*/
/*}*/

/*.Links {*/
/*    text-align: center;*/
/*}*/


